@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);

input {
    display: none;
}

main {
    position: relative;
}


#basket {
    display: block;
    position: absolute;
    min-width: 428px;
    height: 493px;

    left: 495px;
    top: -100px;
}

header h1 {
    font-family: Montserrat, "sans-serif";
    font-size: 45px;
    text-align: center;
    color: #34495e;
}

header h1 .header-subtitile {
    font-size: 0.35em;
    margin-bottom: 5px;
    position: relative;
}

header h1 .header-subtitile:before, header h1 .header-subtitile:after {
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    background-color: #34495e;
}

header h1 .header-subtitile:before {
    left: -35%;
}

header h1 .header-subtitile:after {
    right: -35%;
}

header h1 .header-title {
    margin-top: 0;
}

html {
    padding: 0 20px;
    background-color: #ecf0f1;
    font-family: "Lato", sans-serif;
}

main {
    width: 985px;
    display: block;
    background-color: #e8e3e3;
    min-height: 500px;
    margin: 0 auto;
}

.basket {
    width: 125px;
    height: 125px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-radius-topright: 40px 50%;
    -webkit-border-top-right-radius: 40px 50%;
    border-top-right-radius: 40px 50%;
    -moz-border-radius-bottomright: 40px 50%;
    -webkit-border-bottom-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
    -moz-border-radius-bottomleft: 20px 30px;
    -webkit-border-bottom-left-radius: 20px 30px;
    border-bottom-left-radius: 20px 30px;
    -moz-border-radius-topleft: 20px 30px;
    -webkit-border-top-left-radius: 20px 30px;
    border-top-left-radius: 20px 30px;
}


@keyframes animacao-step1 {
    from {
        left: 0px;
        top: 0;
    }
    to {
        left: 350px;
        top: 340px;
    }
}

.step1:checked + .step2:not(:checked) ~ .basket {
    -moz-animation: animacao-step1 3s ease-in-out;
    -webkit-animation: animacao-step1 3s ease-in-out;
    animation: animacao-step1 3s ease-in-out;
}

.step1:checked + .step2 ~ .basket {
    left: 350px;
    top: 340px;
}

@keyframes animacao-step2 {
    from {
        left: 350px;
        top: 340px;
    }
    to {
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        left: 750px;
        top: 0px;
    }
}

.step1:checked + .step2:checked + .step3:not(:checked) ~ .basket {
    -moz-animation: animacao-step2 3s;
    -webkit-animation: animacao-step2 3s;
    animation: animacao-step2 3s;
}


.step1:checked + .step2:checked + .step3 ~ .basket {
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    left: 750px;
    top: 0px;
}

@keyframes animacao-step3 {
    from {
        left: 750px;
        top: 0px;
    }
    to {
        left: 780px;
        top: 340px;
    }
}

.step1:checked + .step2:checked + .step3:checked ~ .basket {
    -moz-animation: animacao-step3 3s ease-out;
    -webkit-animation: animacao-step3 3s ease-out;
    animation: animacao-step3 3s ease-out;
    left: 780px;
    top: 340px;
}

@keyframes animacao-step4 {
    from {
        left: 780px;
        top: 340px;
    }
    to {
        left: 780px;
        top: 200px;
    }
}

.step2:checked + .step3:checked + .step4:checked ~ .basket {
    -moz-animation: animacao-step4 3s;
    -webkit-animation: animacao-step4 3s;
    animation: animacao-step4 3s;
    left: 780px;
    top: 200px;
}


.breadcrumbs {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 200px);
    color: #34495e;
}

.breadcrumbs > label {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 10px 0 60px;
    position: relative;
    cursor: pointer;
}

.breadcrumbs > label:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
}

.breadcrumbs > label:first-child:before {
    left: 14px;
}

.breadcrumbs > label:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
}

.breadcrumbs > label:after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    box-shadow: 2px -2px 0 2px #e8e3e3;
    border-radius: 0 5px 0 50px;
}

.breadcrumbs > label:last-child:after {
    content: none;
}

.breadcrumbs > label:before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    font-weight: bold;
    text-align: center;
    color: #495d65;
}

.breadcrumbs.breadcrumbs-flat > label {
    background: white;
    color: black;
    transition: all 0.5s;
}

.breadcrumbs.breadcrumbs-flat > label:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

.breadcrumbs.breadcrumbs-flat > label:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

.breadcrumbs.breadcrumbs-flat > label:hover, .breadcrumbs.breadcrumbs-flat > label:hover:after {
    background-color: #495d65;
    color: #fff;
}

.congrats {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    bottom: 140px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    color: #34495e;
}

.congrats .congrats-title,
.congrats .congrats-subtitle,
.congrats .congrats-text {
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

.congrats .congrats-title {
    font-size: 42px;
}

.congrats .congrats-subtitle {
    font-size: 22px;
}

.congrats .congrats-link {
    color: #3498db;
    text-decoration: none;
}

input.step1:checked ~ .breadcrumbs > .step2-label, input.step1:checked + input.step2:checked ~ .breadcrumbs > .step3-label, input.step1:checked + input.step2:checked + input.step3:checked ~ .breadcrumbs > .step4-label {
    pointer-events: all;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

input.step1:checked, input.step1:checked ~ .breadcrumbs > .step1-label,
input.step1:checked ~ .breadcrumbs > .step1-label:after, input.step1:checked + input.step2:checked ~ .breadcrumbs > .step2-label,
input.step1:checked + input.step2:checked ~ .breadcrumbs > .step2-label:after, input.step1:checked + input.step2:checked + input.step3:checked ~ .breadcrumbs > .step3-label,
input.step1:checked + input.step2:checked + input.step3:checked ~ .breadcrumbs > .step3-label:after, input.step1:checked + input.step2:checked + input.step3:checked + input.step4:checked ~ .breadcrumbs > .step4-label,
input.step1:checked + input.step2:checked + input.step3:checked + input.step4:checked ~ .breadcrumbs > .step4-label:after {
    background-color: #495d65;
    color: #fff;
}

.step2-label,
.step3-label,
.step4-label {
    pointer-events: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}

input.step1:checked ~ .breadcrumbs > .step2-label {
    -moz-animation: animacao-check-step 3.2s;
    -webkit-animation: animacao-check-step 3.2s;
    animation: animacao-check-step 3.2s;
}

input.step1:checked + input.step2:checked ~ .breadcrumbs > .step3-label {
    -moz-animation: animacao-check-step 3.2s;
    -webkit-animation: animacao-check-step 3.2s;
    animation: animacao-check-step 3.2s;
}

input.step1:checked + input.step2:checked + input.step3:checked ~ .breadcrumbs > .step4-label {
    -moz-animation: animacao-check-step 3.2s;
    -webkit-animation: animacao-check-step 3.2s;
    animation: animacao-check-step 3.2s;
}

input.step1:checked + input.step2:checked + input.step3:checked + input.step4:checked ~ .breadcrumbs > .step4-label,
input.step1:checked + input.step2:checked + input.step3:checked + input.step4:checked ~ .breadcrumbs > .step4-label:after {
    -moz-animation: animacao-check-step 3.2s;
    -webkit-animation: animacao-check-step 3.2s;
    animation: animacao-check-step 3.2s;
}

input.step1:checked + input.step2:checked + input.step3:checked + input.step4:checked ~ .congrats {
    -moz-animation: show-congrats 4.4s;
    -webkit-animation: show-congrats 4.4s;
    animation: show-congrats 4.4s;
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
